// Variables
$primary-color:       #00A97E;
$secondary-color:     #3498db;
$border-color:        lightgrey;
$fontface:            Arial, sans-serif;
$font-color:          #222222;
$font-size-xl:        32px;
$font-size-lg:        24px;
$font-size:           19px;
$font-size-sm:        16px;
$font-size-xs:        14px;
$button-hover-color:  lightgrey;
$background-color:    white;
$padding:             5px;
$line-height:         32px;
$logo-width:          50px;
$logo-height:         16px;
$popup-height:        320px;

.cheftonic-booking-wrapper {
    margin: 10px;
}

.cheftonic-booking-container {
  color:$font-color;
  line-height:$line-height;
  position: relative;
  background-color:$background-color;
  z-index:1;
  font-family: $fontface;
}
.calendar-container {
  z-index:3;
}
@media (min-width: 480px) {
  .cheftonic-booking-container {
      display: grid;
      grid-gap: 0;
      grid-template-areas: 'pax date time';
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: auto 1fr auto;
      position: relative
  }
  .cheftonic-details-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;
  }
  .cheftonic-booking-container div {
    border: 1px solid $border-color;
    border-right-width: 0;
    border-bottom:0;
    &:last-child {
      border-right-width: 1px;
    }
  }
  .cheftonic-details-container div {
    border: 1px solid $border-color;
    border-bottom:0;
    &:nth-child(odd) {
      border-right-width: 0;
    }
    &.special-requests {
      border-right-width: 1px;
    }
  }
}

@media (max-width: 480px) {
  .cheftonic-booking-container div,  .cheftonic-details-container div {
    border: 1px solid $border-color;
    border-bottom:0;
  }
}
.cheftonic-details-container div:last-child {
  border-bottom:1px solid $border-color;
}
.special-requests, .button-submit, .logo, .error-message {
    grid-column: span 2;
}
.logo {
    border:0 !important;
    svg {
      width:$logo-width;
      height:$logo-height;
    }
}

/* Popup */
.popup {
  position: absolute;
  overflow-y: auto;
  max-height: $popup-height;
  margin:0;
  padding:0;
  display: block;
  background-color: $background-color;
  border: 1px solid $border-color;
  border-radius: 3px 3px 3px 3px;
  z-index:3;
  .calendar_header {
  z-index: 5;
  }
  /*
  .calendar_header:before, .calendar_header:after {
      border-style: solid;
      border-width: 8px;
      border-color: #fff transparent transparent #fff;
      width: 0;
      height: 0;
      background: transparent;
      box-shadow: -1px -1px 0 0 rgba(0,0,0,.15);
      transform: rotate(45deg);
      animation: fadeIn .25s;
      animation-fill-mode: both;
  }
  .calendar_header:before, .calendar_header:after {
      content: "";
      display: block;
      position: absolute;
      margin-top: -8px;
      left:calc(50% - 5px;)
  }
  */
}



.cheftonic-booking-container {
  > div {
    margin: 0;
    line-height: 1.43;
    font-size: $font-size;
    padding: 10px $padding;
    cursor: pointer;
    &:hover {
      background: $button-hover-color;
    }
    label {
      cursor: pointer;
    }
  }
  .invalid-text {
    border: 2px solid red;
  }
  .error-text {
    font-size: $font-size;
    margin: 0;
    color: red;
  }
  .man-text {
    font-size: $font-size;
  }
  .submit-booking-col {
    display:flex;
    text-align: left;
    span.icon {
      display:block;
      flex-grow: 1;
      text-align: right;
      padding-left:$padding;
      padding-right:$padding;
      svg {
        margin-bottom:2
        px;
      }
    }
  }
}



/* PEOPLE STYLING */

.people-container {
  position: relative;
}
.people_box {
  width: 110px;
  top: -10px;
  left: 10px;
  .pax-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    li {
      height: 30px;
      line-height: 30px;
      padding: $padding;
      margin: 0;
      border-bottom: thin solid $border-color;
      cursor: pointer;
      &:last-child {
        border-bottom: 0;
      }
      &:hover {
        background: $button-hover-color;
      }
    }
  }
}



/* CALENDAR STYLING */
.calendar-container {
  position: relative;
}

.calendar_box {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: -10px;
  .calendar_header {
    display: flex;
    border-bottom: 1px solid $border-color;
    margin: 5px 10px 0;
    div {
      flex-grow: 1;
      flex-shrink: 1;
      flex-basis: 0;
    }
    .calendar_nav--prev {
      text-align: left;
    }
    .calendar_month {
      font-size: $font-size-xs;
      font-weight: 300;
      text-align: right;
      padding-right: 2px;
      line-height: 45px;
    }
    .calendar_year {
      font-size: $font-size-xs;
      font-weight: 300;
      text-align: left;
      padding-left: 2px;
      line-height: 45px;
    }
    .calendar_nav--next {
      text-align: right;
    }
    button {
      width:40px;
      height: 40px;
      border:0;
      border-radius: 20px 20px 20px 20px;
      line-height:40px;
      font-size: $font-size;
      cursor: pointer;
      &:hover{
        background-color: $button-hover-color;
      }
      svg {
        margin-bottom: 2px;
      }
    }
  }


  .calendar_table {
    width:100%;
    th {
      text-align: center;
      vertical-align: middle;
      height:40px;
      font-size: $font-size-sm;
      font-weight: 300;
      width:calc(100px/7)
    }
    td {
      text-align: center;
      vertical-align: middle;
      height:40px;
      font-weight: normal;
    }
    .active {
      font-size: $font-size;
      cursor: pointer;
      border-radius: 20px 20px 20px 20px;
      line-height:40px;
      &:hover{
        background-color: $button-hover-color;
      }
    }
    .activeselectedButton {
      font-size: $font-size;
      font-weight: bold;
      cursor: pointer;
      border-radius: 20px 20px 20px 20px;
      line-height:40px;
      background-color: orange;
    }
  }
  .day-disabled {
    color:lightgrey;
    font-size: $font-size;
  }
}


/* TIME STYLING */

.time-container {
  position: relative;
}
.time_box {
  width: 100px;
  top: -10px;
  right: 10px;
  .time-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    li {
      height: 30px;
      line-height: 30px;
      padding: $padding;
      margin: 0;
      border-bottom: thin solid $border-color;
      cursor: pointer;
      &:last-child {
        border-bottom: 0;
      }
      &:hover {
        background: $button-hover-color;
      }
    }
  }
}

/* Customer details */
.cheftonic-details-container {
  font-size: $font-size-sm;
  .form-control {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding-left: $padding;
  }
  label {
    padding-right:3px;
    min-width: 80px;
  }
  input {
    flex-grow:2;
    align-self:center;
  }
  .special-requests {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding-left: $padding;
    label {
      padding-right:3px;
    }
    input {
      flex-grow:2;
      align-self:center;
      /* Text alignment fix */
      border-bottom: 1px solid $background-color;
    }
  }
  .text {
    width:100%;
    border-bottom: 0;
  }
  input {
    font-size: $font-size-sm;
    border:0;
    line-height:28px;
    /* Text alignment fix */
    margin-bottom: 1px;
  }
}

.error-message {
  color:red;
  display:block;
  padding:$padding;
  border-left:1px solid $border-color;
  border-right:1px solid $border-color;
  border-top:1px solid $border-color;
}

.logo {
  padding-top:$padding;
  width: 100%;
  text-align: left;
}

.button-submit, .button-reset {
  border:0;
  width:100%;
  background: $primary-color;
  color:$background-color;
  font-size:$font-size;
  text-align: center;
  padding:0 15px;
  height:50px;
}

.button-reset {
  background: $secondary-color;
}



.loader {
  .animation {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid transparent;
    border-radius: 50%;
    border-top: 16px solid $secondary-color;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  .notice {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    text-align: center;
    width:100px;
  }
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
}


  .confirm {
    .header {
      text-align: center;
      background-color:$primary-color;
      padding-top:15px;
      padding-bottom:15px;
      color:white;
      .people {
        font-size: $font-size-lg;
        margin:10px 0;
      }
      .restaurant {
        font-weight: 700;
        display:block;
        margin:10px 0;
        font-size: $font-size-xl;
      }
      .reservation {
        font-weight: 300;
        .date {
          font-size: $font-size-lg;
        }
        .time {
          font-size: $font-size-lg;
        }
      }
      svg {
        width:60px;
        height:60px;
      }
    }
    p {
      padding-left:10px;
      padding-right:10px;
      margin-top: 10px;
    }
    .animate-bottom {
      position: relative;
      -webkit-animation-name: animatebottom;
      -webkit-animation-duration: 1s;
      animation-name: animatebottom;
      animation-duration: 1s
    }

    @-webkit-keyframes animatebottom {
      from { bottom:-100px; opacity:0 }
      to { bottom:0px; opacity:1 }
    }

    @keyframes animatebottom {
      from{ bottom:-100px; opacity:0 }
      to{ bottom:0; opacity:1 }
    }
  }
