.cheftonic-booking-container {
  margin: 10px;
  display: grid;
  grid-template-areas: 'date date time time pax pax';
  grid-gap: 0;
  position: relative; }
  .cheftonic-booking-container > div {
    margin: 0;
    line-height: 1.43;
    font-size: 1rem;
    padding: 15px 5px;
    cursor: pointer; }
    .cheftonic-booking-container > div:hover {
      background: rgba(0, 0, 0, 0.05); }
    .cheftonic-booking-container > div label {
      cursor: pointer; }
  .cheftonic-booking-container .invalid-text {
    border: 2px solid red; }
  .cheftonic-booking-container .error-text {
    font-size: medium;
    margin: 0;
    color: red; }
  .cheftonic-booking-container .man-text {
    font-size: 3rem; }
  .cheftonic-booking-container .submit-booking-col {
    border: thin solid lightgrey;
    border-right: 0; }
    .cheftonic-booking-container .submit-booking-col:last-child {
      border-right: thin solid lightgrey; }
  .cheftonic-booking-container .submit-booking-button {
    background-color: #00A97E;
    color: white; }
  .cheftonic-booking-container .pax-list {
    padding: 0;
    margin: 0; }

/* PEOPLE STYLING */
.people-container {
  position: relative; }

.people_box {
  position: absolute;
  top: -10px;
  left: 10px;
  height: auto;
  width: 100px;
  margin: 0;
  padding: 5px;
  display: block;
  background-color: white;
  border: 1px solid lightgrey;
  border-radius: 3px 3px 3px 3px; }

/* CALENDAR STYLING */
.calendar-container {
  position: relative; }

.calendar_box {
  position: absolute;
  top: -10px;
  left: 10px;
  height: auto;
  width: 300px;
  margin: 0;
  padding: 5px;
  display: block;
  background-color: white;
  border: 1px solid lightgrey;
  border-radius: 3px 3px 3px 3px; }
  .calendar_box .calendar_header .calendar_nav--prev {
    width: 25%;
    float: left; }
  .calendar_box .calendar_header .calender_date .calendar_month {
    font-size: 19px;
    font-weight: bold;
    width: 50%;
    float: left; }
  .calendar_box .calendar_header .calender_date .calendar_year {
    font-size: 14px; }
  .calendar_box .calendar_header .calendar_nav--next {
    width: 25%;
    float: left; }
  .calendar_box .selected-day {
    background-color: orange; }
  .calendar_box .dayAndTime {
    font-size: -webkit-xxx-large;
    font-weight: bold; }
  .calendar_box .weekDay {
    font-size: x-large;
    font-weight: bold; }
  .calendar_box .month {
    font-size: x-large; }
  .calendar_box .day {
    width: 80%;
    font-size: large; }
  .calendar_box .calendar {
    text-align: center; }
  .calendar_box .calendarTitle {
    text-align: center;
    padding-top: 10px; }
  .calendar_box .calendarYear {
    text-align: center;
    padding-top: 3px;
    font-size: medium; }
  .calendar_box .fullWidth {
    width: 100%; }
  .calendar_box .date-small {
    height: 90%;
    width: 90%;
    margin: 0;
    padding: 1px; }
  .calendar_box .weekDay-small {
    font-size: x-small;
    font-weight: bold; }
  .calendar_box .month-small {
    font-size: x-small; }
  .calendar_box .day-small {
    width: 80%;
    font-size: x-small; }
  .calendar_box .day-disabled {
    background-color: whitesmoke; }
  .calendar_box .calendar-small {
    text-align: center;
    font-size: x-small;
    font-weight: bold; }
  .calendar_box .calendarTitle-small {
    text-align: center;
    padding-top: 2px; }
  .calendar_box .calendarYear-small {
    text-align: center;
    padding-top: 1px;
    font-size: small; }

/* TIME STYLING */
.time-container {
  position: relative; }

.time_box {
  position: absolute;
  top: -10px;
  left: 10px;
  height: auto;
  width: 100px;
  margin: 0;
  padding: 5px;
  display: block;
  background-color: white;
  border: 1px solid lightgrey;
  border-radius: 3px 3px 3px 3px; }

/*# sourceMappingURL=make-booking.css.map */
