
invalid-text {
  border: 2px solid red;
}

error-text{
  font-size: medium;
  margin: 0;
  color: red;
}

man-text {
  font-size: 3rem;
}

submit-booking-col {
  border: thin solid lightgrey;
}

submit-booking-button {
  background-color: #00A97E;
  color: white;
}

.pax-list {
  padding: 0%;
  margin: 0%;
}

.cheftonic-booking-container {
  display: grid;
  grid-template-areas: 'date date time time pax pax';
  grid-gap: 10px;
  padding: 10px;
}

.cheftonic-booking-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

/* CALENDAR STYLING */

.calendar_box{
  height: 90%;
  width: 90%;
  margin:0;
  padding:5px;
  display: block;
}

.selected-day{
  background-color: orange;
}

.dayAndTime{
  font-size: -webkit-xxx-large;
  font-weight: bold;
}

.weekDay{
  font-size: x-large;
  font-weight: bold;
}

.month{
  font-size: x-large;
}

.day{
  width: 80%;
  font-size: large;
}

.calendar{
  text-align: center;
}

calendarTitle{
  text-align: center;
  padding-top: 10px;
}

calendarYear{
  text-align: center;
  padding-top: 3px;
  font-size: medium;
}
fullWidth{
  width: 100%;
}

.date-small{
  height: 90%;
  width: 90%;
  margin: 0;
  padding: 1px;
}

.calendar_month{
  font-size: x-small;
  font-weight: bold;
}

.calendar_year{
  font-size: x-small;
}

.weekDay-small{
  font-size: x-small;
  font-weight: bold;
}

.month-small{
  font-size: x-small;
}

.day-small{
  width: 80%;
  font-size: x-small;
}

.day-disabled {
  background-color: whitesmoke;
}

.calendar-small{
  text-align: center;
  font-size: x-small;
  font-weight: bold;
}

.calendarTitle-small{
  text-align: center;
  padding-top: 2px;
}

.calendarYear-small{
  text-align: center;
  padding-top: 1px;
  font-size: small;
}