
<div id="auth" *ngIf="isAuthenticated | async;let isAuthenticated; else no_auth">
    <h2>{{ 'BOOKING_COMPONENT.TITLE' | translate }}</h2>

  <div [ngSwitch]="restaurant_status">
    <div *ngSwitchCase="not_loaded">
        {{ 'BOOKING_COMPONENT.LOAD_RESTAURANT_ERRTXT' | translate }}
    </div>
    <div *ngSwitchCase="info_pending">
        {{ 'BOOKING_COMPONENT.INFO_PENDING_MSG' | translate }}
    </div>
    <div *ngSwitchDefault>
      <!-- Let's book!! -->
      <div>
        <ion-grid>
            <ion-row align-items-center justify-content-center>
              <ion-col col-4 class="submitBookingCol" (click)="toggleCalendarShow()">
                <label class="bookingBar-Date">{{ bookingInfo.day | date :  "dd MMM" }}<ion-icon name="md-arrow-dropdown"></ion-icon></label>
              </ion-col>
              <ion-col col-4 class="submitBookingCol" (click)="toggleTimeShow()">
                <label class="bookingBar-Time">{{ bookingInfo.time }}<ion-icon name="md-arrow-dropdown"></ion-icon></label>
              </ion-col>
              <ion-col col-4 class="submitBookingCol" (click)="togglePaxShow()">
                <span>{{ bookingInfo.pax }}</span><ion-icon name="man"></ion-icon>
              </ion-col>
            </ion-row>
        </ion-grid>
      </div>

      <div id="bookingCalContainer" style="display: none; top: -290px;">
          <calendar [inputCalendarConfig]="calendarConfig" (onCalendarChange)="onCalendarChange($event)" (onMonthChange)="onMonthChange($event)"></calendar>
      </div>
      <div id="bookingTimeContainer" style="display: none; top: -290px;">
        <ion-grid>
          <ion-row>
            <ion-col col-4 offset-4>
                <div style="height: 100px; overflow: auto;">
                  <hour-minute [hourMinuteConfig]="hourMinuteConfig" (onHourMinuteChange)="onHourMinuteChange($event)"></hour-minute>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
    </div>

    <div id="bookingPaxContainer" style="display: none; top: -290px;">
      <ion-grid>
        <ion-row>
          <ion-col col-4 offset-8>
              <div style="height: 100px; overflow: auto;">
                  <ul class="paxList">
                      <li *ngFor="let paxNr of [1,2,3,4,5,6,7,8,9,10]" (click)="setPax(paxNr)" class="item">
                        {{ paxNr }} <ion-icon name="man"></ion-icon>
                      </li>
                  </ul>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

      <h3>{{ 'BOOKING_COMPONENT.NOTES' | translate }}</h3>
      <ion-textarea [placeholder]="'BOOKING_COMPONENT.NOTES_PLACEHOLDER' | translate" [(ngModel)]="bookingInfo.notes"></ion-textarea>

      <!-- If the user doesn't have the phone in his profile, ask for it -->
      <div *ngIf="phone_required">
        <h3><ion-icon name="call"></ion-icon> {{ 'BOOKING_COMPONENT.CONTACT_PHONE' | translate }}</h3>
        <p>{{ 'BOOKING_COMPONENT.CONTACT_PHONE_MSG' | translate }}</p>
        <ion-input required type="number" [(ngModel)]="bookingInfo.phone" [class.invalid]="(! userPhoneValid) && bookingInfo.phoneChanged" (ionChange)="onPhoneChange()"></ion-input>
        <p class="errorText" *ngIf="(! userPhoneValid) && bookingInfo.phoneChanged">{{ 'PROFILE_PAGE.DETAILS_PHONE_ERRTXT' | translate }}</p>
      </div>

      <!-- Submit button -->
      <button ion-button type="button" (click)="submitBooking()">{{ 'BOOKING_COMPONENT.SUBMIT_BTN' | translate }}</button>
    </div>
    </div>
  </div>

<ng-template #no_auth>
    <h2>{{ 'BOOKING_COMPONENT.TITLE' | translate }}</h2>
    <p>{{ 'BOOKING_COMPONENT.PLEASE_SINGIN' | translate }}</p>
    <button ion-button type="button" class="btn btn-default" (click)="login()">{{ 'BOOKING_COMPONENT.LOGIN_REGISTER_BUTTON' | translate }}</button>
  </ng-template>

  <!-- ** DEBUG CODE - NOT FOR TRANSLATION ** -->
  <!--
    <div>
  <ion-list>
      <ion-list-header>
          OPEN SCHEDULE
        </ion-list-header>
    <ion-card>
        <ion-card-header>
            OPENING
          </ion-card-header>
          <ion-card-content>
            <p>Days: {{opening?.open_weekdays}}</p>
            <p>From: {{opening?.from}}</p>
            <p>To: {{opening?.to}}</p>
            <p>Closed on:: {{opening?.closing_days}}</p>
          </ion-card-content>
    </ion-card>
  </ion-list>
  <ion-list>
    <ion-list-header>
        SERVICES SCHEDULE
      </ion-list-header>
  <ion-card *ngFor="let service of services">
      <ion-card-header>
          {{service.name}}
        </ion-card-header>
        <ion-card-content>
          <p *ngIf="service.days">Days: {{service.days}}</p>
          <p>From: {{service.starts_at}}</p>
          <p>To:   {{service.ends_at}}</p>
        </ion-card-content>
  </ion-card>
</ion-list>
</div>
-->
