.cheftonic-booking-wrapper {
  margin: 10px; }

.cheftonic-booking-container {
  display: grid;
  grid-template-areas: 'date date time time pax pax';
  grid-gap: 0;
  position: relative; }
  .cheftonic-booking-container > div {
    margin: 0;
    line-height: 1.43;
    font-size: 19px;
    padding: 10px 5px;
    cursor: pointer; }
    .cheftonic-booking-container > div:hover {
      background: rgba(0, 0, 0, 0.05); }
    .cheftonic-booking-container > div label {
      cursor: pointer; }
  .cheftonic-booking-container .invalid-text {
    border: 2px solid red; }
  .cheftonic-booking-container .error-text {
    font-size: medium;
    margin: 0;
    color: red; }
  .cheftonic-booking-container .man-text {
    font-size: 3rem; }
  .cheftonic-booking-container .submit-booking-col {
    border: thin solid rgba(0, 0, 0, 0.2);
    border-right: 0; }
    .cheftonic-booking-container .submit-booking-col:last-child {
      border-right: thin solid rgba(0, 0, 0, 0.2); }
  .cheftonic-booking-container .submit-booking-button {
    background-color: #00A97E;
    color: white; }

/* PEOPLE STYLING */
.people-container {
  position: relative; }

.people_box {
  position: absolute;
  top: -10px;
  left: 10px;
  height: auto;
  width: 100px;
  margin: 0;
  padding: 0;
  display: block;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 3px 3px 3px 3px; }
  .people_box .pax-list {
    list-style-type: none;
    padding: 0;
    margin: 0; }
    .people_box .pax-list li {
      height: 30px;
      line-height: 30px;
      padding: 5px;
      margin: 0;
      border-bottom: thin solid rgba(0, 0, 0, 0.2);
      cursor: pointer; }
      .people_box .pax-list li:last-child {
        border-bottom: 0; }
      .people_box .pax-list li:hover {
        background: rgba(0, 0, 0, 0.05); }

/* CALENDAR STYLING */
.calendar-container {
  position: relative; }

.calendar_box {
  position: absolute;
  height: auto;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: -10px;
  padding: 5px;
  display: block;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 3px 3px 3px 3px; }
  .calendar_box .calendar_header {
    display: flex; }
    .calendar_box .calendar_header div {
      flex-grow: 1;
      flex-shrink: 1;
      flex-basis: 0; }
    .calendar_box .calendar_header .calendar_nav--prev {
      text-align: left; }
    .calendar_box .calendar_header .calendar_month {
      font-size: 14px;
      font-weight: 300;
      text-align: right;
      padding-right: 2px;
      line-height: 45px; }
    .calendar_box .calendar_header .calendar_year {
      font-size: 14px;
      font-weight: 300;
      text-align: left;
      padding-left: 2px;
      line-height: 45px; }
    .calendar_box .calendar_header .calendar_nav--next {
      text-align: right; }
    .calendar_box .calendar_header button {
      width: 40px;
      height: 40px;
      border: 0;
      border-radius: 20px 20px 20px 20px;
      line-height: 40px;
      font-size: 19px;
      cursor: pointer; }
      .calendar_box .calendar_header button:hover {
        background-color: rgba(0, 0, 0, 0.05); }
  .calendar_box .calendar_table {
    width: 100%; }
    .calendar_box .calendar_table th {
      text-align: center;
      vertical-align: middle;
      height: 40px;
      font-size: 16px;
      font-weight: 300; }
    .calendar_box .calendar_table td {
      text-align: center;
      vertical-align: middle;
      height: 40px;
      font-weight: normal; }
    .calendar_box .calendar_table .active {
      font-size: 19px;
      cursor: pointer;
      border-radius: 20px 20px 20px 20px;
      line-height: 40px; }
      .calendar_box .calendar_table .active:hover {
        background-color: rgba(0, 0, 0, 0.05); }
    .calendar_box .calendar_table .activeselectedButton {
      font-size: 19px;
      font-weight: bold;
      cursor: pointer;
      border-radius: 20px 20px 20px 20px;
      line-height: 40px;
      background-color: orange; }
  .calendar_box .day-disabled {
    background-color: red; }

/* TIME STYLING */
.time-container {
  position: relative; }

.time_box {
  position: absolute;
  top: -10px;
  right: 10px;
  height: auto;
  width: 100px;
  margin: 0;
  padding: 0;
  display: block;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 3px 3px 3px 3px; }
  .time_box .time-list {
    list-style-type: none;
    padding: 0;
    margin: 0; }
    .time_box .time-list li {
      height: 30px;
      line-height: 30px;
      padding: 5px;
      margin: 0;
      border-bottom: thin solid rgba(0, 0, 0, 0.2);
      cursor: pointer; }
      .time_box .time-list li:last-child {
        border-bottom: 0; }
      .time_box .time-list li:hover {
        background: rgba(0, 0, 0, 0.05); }

/* Customer details */
.customer-details {
  font-size: 16px; }
  .customer-details .contact-details {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin: 0; }
    .customer-details .contact-details li {
      border: 1px solid rgba(0, 0, 0, 0.2);
      border-top: 0;
      line-height: 50px;
      padding-left: 5px;
      flex-grow: 1; }
      .customer-details .contact-details li:first-child {
        border-right: 0; }
      .customer-details .contact-details li div {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center; }
      .customer-details .contact-details li label {
        padding-right: 3px; }
      .customer-details .contact-details li input {
        flex-grow: 2;
        align-self: center;
        /* Text alignment fix */
        border-bottom: 1px solid white; }
  .customer-details .special-requests {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 5px;
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    border-right: 1px solid rgba(0, 0, 0, 0.2); }
    .customer-details .special-requests label {
      padding-right: 3px; }
    .customer-details .special-requests input {
      flex-grow: 2;
      align-self: center;
      /* Text alignment fix */
      border-bottom: 1px solid white; }
  .customer-details .text {
    width: 100%;
    border-bottom: 0; }
  .customer-details input {
    font-size: 16px;
    border: 0;
    line-height: 48px; }

.button-submit {
  border: 0;
  width: 100%;
  background: green;
  color: white;
  font-size: 19px;
  text-align: center;
  padding: 0 15px;
  height: 50px; }

/*# sourceMappingURL=make-booking.css.map */
