<div *ngIf="hourMinuteConfig?.bigHourMinute; else show_small">
  <ion-grid>
    <h3>{{ hourMinuteConfig.hourHeaderTranslateKey | translate }}</h3>
    <ion-row class="buttonGrid">
      <ion-col col-2 *ngFor="let hour of hours; let i=index">
        <button ion-button type="button" [ngClass]="isSelectedHour(hour)"
        id="hour{{i}}" name="hour{{i}}" (click)="setHour(hour)">{{hour}}:{{selectedMinute}}</button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <h3>{{ hourMinuteConfig.minuteHeaderTranslateKey | translate }}</h3>
    <ion-row class="buttonGrid">
      <ion-col col-2 *ngFor="let minute of minutes; let i=index">
        <button ion-button type="button" [ngClass]="isSelectedMinute(minute)"
        id="minute{{i}}" name="minute{{i}}" (click)="setMinute(minute)">:{{minute}}</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>

<ng-template #show_small>
  <ul class="list">
      <li *ngFor="let time of allTimes" (click)="setTime(time)" class="item">
        {{ time }}
      </li>
  </ul>
</ng-template>