/* Popup */
.popup {
  position: absolute;
  overflow-y: auto;
  max-height: $popup-height;
  margin:0;
  padding:0;
  display: block;
  background-color: $background-color-light;
  border: 1px solid $border-color;
  border-radius: 3px 3px 3px 3px;
  z-index:3;
  .calendar_header {
  z-index: 5;
  }
  /*
  .calendar_header:before, .calendar_header:after {
      border-style: solid;
      border-width: 8px;
      border-color: #fff transparent transparent #fff;
      width: 0;
      height: 0;
      background: transparent;
      box-shadow: -1px -1px 0 0 rgba(0,0,0,.15);
      transform: rotate(45deg);
      animation: fadeIn .25s;
      animation-fill-mode: both;
  }
  .calendar_header:before, .calendar_header:after {
      content: "";
      display: block;
      position: absolute;
      margin-top: -8px;
      left:calc(50% - 5px;)
  }
  */
}
