// Variables
$primary-color:         #00A97E;
$secondary-color:       #3498db;
$light:                 #ffffff;
$dark:                  #222222;
$light-grey:            #cccccc;
$light-grey:            #cccccc;
$dark-grey:             #aaaaaa;
$border-color:          $light-grey;
$fontface:              Arial, sans-serif;
$component-max-width:   480px;
$component-min-height:      370px;
$popup-height:          320px;
$font-color-light:      $dark;
$font-color-dark:       $light;
$font-size-xl:          32px;
$font-size-lg:          24px;
$font-size:             19px;
$font-size-sm:          16px;
$font-size-xs:          14px;
$button-hover-color:    $light-grey;
$background-color-light:$light;
$background-color-dark: $dark;
$padding:               5px;
$line-height-lg:        32px;
$line-height:           22px;
$logo-width:            50px;
$logo-height:           16px;
